.carta{
  background-color:black;
    width:200px;
    height:400px;
    display:center;
  margin-left:400px;
}
.stop{
  background-color:red;
  width:100px;
  height:100px;
  margin-left:60px;
  border-radius:800px;
}
.stop:hover{
  color: pink;
  border-radius: 800px;
  list-style: circle;
}
.change{
  background-color:yellow;
  width:100px;
  height:100px;
  margin-left:60px;
  border-radius:800px;
  
}
.change:hover{
  color:lightcyan;
}
.go{
  background:green;
  width:100px;
  height:100px;
  margin-left:60px;
  border-radius:800px;
  
} 
.go:hover{
  color:lightcoral
}